  <%- include('../htmlbody/Adminheader') -%>

  <main class="col-12 col-md-8 m-auto">
  <h2 class=" mt-4">Create Product</h2>

  <form action="/admin/addProduct" method="POST" enctype="multipart/form-data">
  <div class="row">
  <div class="form-group col-12 col-sm-6">
  <label for="productName">Product Name:</label>
  <input type="text" class="form-control" id="productName" name="name" required>
  <span style="color: rgb(247, 59, 59);" id="namerror"> <%= locals.errorDetail  %> </span>
  </div>
  <div class="form-group col-12 col-sm-6">
  <label for="productPrice">Product Price:</label>
  <input type="number" class="form-control" id="productPrice" name="price" required>
  </div>
  </div>
  <div class="row">
  <div class="col-12 col-sm-6">
  <div class="form-group">
  <label for="productDescription">Product Description:</label>
  <textarea class="form-control" id="productDescription" name="description" rows="3" required></textarea>
  </div>
  </div>
  <div class="col-12 col-sm-6">
  <!--overview  -->
  <div class="form-group">
  <label for="productImage">Product Overview:</label>
  <textarea class="form-control" id="productOverview" name="overview" rows="3" required></textarea>
  </div>

  </div>
  </div>


  <!--image showng  -->
  <div class="container" >
  <div class="row">
  <div class="col-3"  id="showimage">
  <img class="img-fluid" id="image" style="width:100px;height: 100px;" src="" alt="Image">
  </div>

  </div>
  <!--  -->
  <div class="form-group">
  <label for="productImage">Product Image:</label>
  <input type="file" class="form-control" id="imageInput" multiple name="image" accept="image/*" onchange="resizeImage(event)" required>

  </div>

  <span id="errordetail"></span>

  <div class="row">
  <div class="form-group col-12 col-sm-4">
  <label for="productImage">category:</label>
  <select class="form-control" id="productCategory" name="category" required style="height:44px">

  <% for( let index = 0; index < category.length; index++ ) { %>

  <option value="<%= locals.category[index]._id %>"> <%= locals.category[index].category  %> </option>
  <% } %>

  </select>

  </div>
  <!-- material -->
  <div class="form-group col-12 col-sm-4">
  <label for="productImage">Product Material:</label>
  <input type="text" class="form-control" id="productMaterial" name="material" required>
  </div> 

  <!-- color -->
  <div class="form-group col-12 col-sm-4">
  <label for="productImage">Product Color:</label>
  <select class="form-control" name="color" id="color"  style="height:42px">
  <option value="Orange">Orange</option>
  <option value="Red">Red</option>
  <option value="Blue">Blue</option>
  <option value="Green">Green</option>
  <option value="Yellow">Yellow</option>
  <option value="White">white</option>
  <option value="Black">Black</option>
  </select>
  </div>
  </div>
  <div class="row">
  <!--brand  -->
  <div class="form-group col-12 col-sm-6">
  <label for="productImage">Product Brand:</label>
  <input type="text" class="form-control" id="productBrand" name="brand" required>
  </div>
  <!--stock  -->
  <div class="form-group col-12 col-sm-6">
  <label for="productImage">Product Stock:</label>
  <input type="number" class="form-control" id="productStock" name="stock" required>
  </div>
  </div>

  <div class="mt-3 text-center">
  <button type="submit" class="btn btn-primary rounded-pill">Submit</button>

  </div>

  </form>
  <!--  -->
  </main>

  <%- include('../htmlbody/AdminFooter') -%>

  <script>
  const images = document.getElementById('image');
  const showimage = document.getElementById('showimage');
  showimage.style.display="none"
  const imageInput = document.getElementById('imageInput');
  imageInput.addEventListener('change', function() {
  var file = imageInput.files[0];

  var reader = new FileReader();
  reader.onload = function(event) {
  var image = new Image();
  image.src = event.target.result;
  showimage.style.display="block"
  document.getElementById('image').src = image.src
  image.onload = function() {
  if (image.width > 0 && image.height > 0) {
  document.getElementById("errordetail").innerHTML='Valid image file!'
  document.getElementById("errordetail").style.color="green"

  } else {

  document.getElementById("errordetail").innerHTML='Invalid image file!'
  document.getElementById("errordetail").style.color="red"
  }
  };
  };

  reader.readAsDataURL(file);
  });
  const nameError=document.getElementById("namerror").innerHTML
  if(nameError!==null){
  setTimeout(()=>{
  document.getElementById("namerror").innerHTML=""
  },3000)
  }
  </script>  
