<%- include('../htmlbody/Adminheader') -%>
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Orders list</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>IMAGE</th>
                    <th>NAME</th>
                    <th>USERID</th>
                    <th>PRICE </th>
                    <th>ACTION</th>
                    <th>MORE</th>
                  </tr>
                </thead>
                <tbody>
                  <%if(orders.length>0)  {%>
                    <%for(let i=0;i <orders.length; i++){%>
                
                    <tr>
                    <td><%= [i+1] %></td>
                
                    <td  >
                    <div class="col-sm-4 col-12 " style="display: flex;gap: 3px;">
                    <% for( let index = 0; index < orders[i].product.length; index++) { %>

                    <img  style="height: 50px;max-width: 50px;min-width: 50px;border-radius: 50%;" src="<%= orders[i].product[index].image  %>" alt="">
                
                    <% } %>     
                 </div>
                
                    </td>
                
                    <td>
                    <p>
                    <%= orders[i].name %>
                    </p>
                    </td>
                
                    <td>
                    <p>
                    <%= orders[i]._id %>
                    </p>
                    </td>
                    <td>
                    <p>Rs 
                    <%= orders[i].total %>
                    </p>
                    </td>
                    <td>
                    <p>
                
                 <% if (orders[i].status=="Cancelled") { %>
                                <button type="button" disabled class="btn btn-danger rounded-pill">
                                cancelled
                                  </button>
                              <% } else { %>
                
                   <select class="rounded-pill px-2" id="statusbar<%= orders[i]._id%>" onchange="handlestatus('<%= orders[i]._id%>')" 
                style="border: none;outline: none; height: 40px;" >
                <option value="<%= orders[i].status%>"  style="background-color: rgb(114, 232, 224);"> <%= orders[i].status%> (C)</option>
                <option value="Order placed">Order placed</option>
                  <option value="Order Shipped">Order Shipped</option>
                 <option value="Out for delivery">Out for delivery</option>
                 <option value="Order Arrived">Order Arrived</option>
                 <option value="Cancelled">Cancelled</option>
                     </select>
                              <% } %>
                    </td>       
                    <td style="position:relative">
                        <% if (orders[i].status=="Cancelled") { %>
                          <a href="/admin/orderdetail/<%= orders[i]._id%>">
                            <button class="btn btn-light rounded-pill">details</button></a>
                            <i style="cursor: pointer;font-size: 1.5rem; position: absolute;right: -20px;" class="fa-regular fa-circle-xmark m-auto"  onclick="handleOrderRemove('<%= orders[i]._id %>')"></i>
                        
                          <% } else { %>
                            <a href="/admin/orderdetail/<%= orders[i]._id%>">
                              <button class="btn btn-light rounded-pill">details</button></a>
                          <% } %>
                    </td>  
                    </tr>
                    <% } %>
                
                    <%}else{%>
                    <tr>
                    <td colspan="5">Orders note found</td>
                
                    </tr>
                    <% } %>
                
                

                </tbody>
              </table>
            </div>
          </div>
        </div>


    </div>

</div>

    <%- include('../htmlbody/AdminFooter') -%>
    <script>
const handlestatus=async(id)=>{
   
    const statusbar=document.getElementById(`statusbar${id}`).value

    await fetch('/admin/updatestatus', {
 method: 'POST',
 headers: {
   'Content-Type': 'application/json'
 },
 body: JSON.stringify(
   {
   orderid:id,
   status:statusbar
   }
 )
}).then((res)=>res.json()).then((data)=>{
  if(data==="success"){
    window.location.reload()
  }
})
}
        const handleOrderRemove=async(id)=>{
       
            await fetch('/admin/removerOrder', {
 method: 'POST',
 headers: {
   'Content-Type': 'application/json'
 },
 body: JSON.stringify(
   {
   orderid:id
   }
 )
}).then((res)=>res.json()).then((data)=>{
  if(data==="success"){
    window.location.reload()
  }
})
        }
    </script>