<%- include('../htmlbody/Adminheader') -%>
    
    
<div class="container-fluid mt-2">
                   <div class="row">
                    <div class="col-7  m-auto">

                 <div class="row  bg-primary rounded-pill ">               
                    <div class="col-12 text-center  m-auto  text-light " style="display: flex;  justify-content: center;align-items: center;gap: 3px;padding-left: 40px;">
                           
                      <h2 id="headname" > <%= locals.durations %> </h2> 
                           <h2 > orders</h2>
                        <h1><%= locals.orderlength  %></h1> 
                        <a href="/admin/pdfconvert?duration=<%= locals.durations %>"> 
                        <button class="btn" onclick="handlepdf('<%= locals.durations %>')">
                            <i style="font-size: 1.2rem;color: white;" class="fa-solid fa-download"></i>
                        </button></a>  
                    </div>       
</div>
<p id="pdfpopup" style="color:green"></p>

                    </div>

             </div>

<!--  -->
             
 
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Product list</h4>
    
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
         
                <th>OFFERID</th>
              
                <th rowspan="5">PRODUCT </th>
                <th>PRICE</th>
                <th>QUANTITY</th>
                <th>USER</th>
          
                <th>PAPYMENT</th>
                <th>STATUS</th>
              </tr>
            </thead>
           
            <tbody>
                  
              <%if(orders.length>0)  {%>
                <%for(let i=0;i <orders.length; i++){%>
                <tr>
                  <td><%= orders[i]._id  %></td>
                    <td >
                  <% for( let index = 0; index < orders[i].product.length; index++) { %>
                <p> <%= orders[i].product[index].name  %> </p> 
                  <br>
           
                  <% } %>
                </td>
             
                  <td>
                    <% for( let index = 0; index < orders[i].product.length; index++) { %>
                  <p> <%= orders[i].product[index].price  %> </p> 
                    <br>
             
                    <% } %>
                  </td>

                  <td class="text-center">
                    <% for( let index = 0; index < orders[i].product.length; index++) { %>
                  <p> <%= orders[i].product[index].quantity  %> </p> 
                    <br>
             
                    <% } %>
                  </td>

                  <td>
                    <%= orders[i].name %>
                  </td>
                  <td>
                    <%= orders[i].paymentMethod %>
                  </td>
                  <td>
                    <%= orders[i].status %>
                  </td>

                </tr>
                <% } %>
                <%}else{%>
            
                  <td colspan="5">products note found</td>
                  
                  </tr>
                  <% } %>

            </tbody>

          </table>
        </div>
      </div>
    </div>


</div>

</div>
                <%- include('../htmlbody/AdminFooter') -%>
<script>


 
    const handlepdf=async(duration)=>{   
        await fetch(`/admin/pdfconvert?duration=${duration}`, {
 method: 'GET',
 headers: {
   'Content-Type': 'application/json'
 },

}).then((res)=>res.json())
.then((data)=>{

    if(data=="success"){
      document.getElementById("pdfpopup").innerHTML="pdf download"

      setTimeout(()=>{
        document.getElementById("pdfpopup").innerHTML=""
      },3000)
    }
})
    }
</script>