
<%- include('../htmlbody/header') -%>
<%- include('../htmlbody/navbar') -%>
<style>
  .shadow{
    width: 100%;
    height: 200px;
    background: rgb(24,24,22);
background: linear-gradient(0deg, rgba(24,24,22,0.9016398795846463) 10%, rgba(255, 255, 255, 0) 96%);
    position: absolute;
    bottom: 0;
    left: 0;
  }
  @media only screen and (max-width : 480px) {
.carouseltext>h1{
  font-size: 0.9rem;
}
.carouseltext>p{
  font-size: 0.8rem;
}
.carouseltext button{
  font-size: 0.6rem;
}

  }




</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <% for( let index = 1; index < bannerdata.length; index++ ) { %>
    <li data-target="#carouselExampleCaptions" data-slide-to="<%= [index] %>"></li>
    <% } %>
  </ol>
  <div class="carousel-inner ">
    <div class="carousel-item active carouselheight" style="position: relative;" >
    
      <img style="width: 100%;height: 100%;" src="<%= locals.bannerdata[0].imageUrl  %>"  class="d-block w-100" alt="...">
      <div class="carousel-caption carouseltext">
        <h1><%= locals.bannerdata[0].heading  %></h1>
        <p><%= locals.bannerdata[0].subheading  %></p>
        <a href="<%= locals.bannerdata[0].link  %>">
        <button class=" btn btn-light">Shop Now</button></a>
      </div>
      <div class="shadow"></div>
    </div>
    <% for( let index = 1; index < bannerdata.length; index++ ) { %>
    <div class="carousel-item carouselheight" >
      <img style="width: 100%;height: 100%;" src="<%= locals.bannerdata[index].imageUrl  %>"  class="d-block w-100" alt="...">
      <div class="carousel-caption carouseltext">
        <h1><%= locals.bannerdata[index].heading  %></h1>
        <p><%= locals.bannerdata[index].subheading  %></p>
        <a href="<%= locals.bannerdata[index].link  %>">
        <button class="btn btn-light" >Shop Now</button></a>
      </div>
      <div class="shadow"></div>
    </div>
    <% } %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- category section --> 
<div class="container text-center mt-5">

<h4>Top Selling Category</h4>
</div>
<div class="container  mt-5 mb-5" style="width: 70%;" >
<div class="row ">

<% for( let i = 0; i < locals.category.length; i++ ) { %>
<div class="col-12 col-sm-6 col-md-4 m-auto mb-5" >
<a style="text-decoration: none;"  href="/products/<%= locals.category[i]._id %>">
<div class="catg_card">
<div class="card_imag">
<img src="<%= locals.category[i].imageUrl[0] %> " alt="">
</div>
<h4><%= locals.category[i].category %> </h4>
</div>
</a>  
</div>
<% } %>

</div>

</div>
<!-- slider section -->
<div class="container text-center m-auto mt-5">
<h5 class="mb-5">Explore Our Preminum Furniture </h5>
</div>
<div class=" slider_sec mt-2">
<div class="ellipse"></div>
<div class="sliding_base">

<% for( let index = 0; index < slider.length; index++ ) { %>
 <a href="/products/<%= locals.slider[index].category %>">
<div class="img_card" >
 
<img src="<%= slider[index].imageUrl[0]  %>" alt="">
</div></a>
<% } %>


</div>
<div class="ellipse_btm"></div>
</div>

<!-- advertising -->
<div class="container mt-5  mb-5" style="width: 80%;">
<div class="row">

<div class="col-12 col-md-3 left_img_sec m-auto mb-3">
<img class="img-fluid" src="https://i.pinimg.com/originals/53/08/97/53089728ba070b0c9ba485f5341ee70b.jpg" alt="">
</div>

<div class="col-12 col-md-3 left_img_sec  m-auto mb-3">
<img src="https://i.pinimg.com/originals/5d/57/78/5d57786224468ed1c44bb8b666087ad2.jpg" alt="">

</div>

<div class="col-12 col-md-3 left_img_sec  m-auto mb-3">
<img src="https://i.etsystatic.com/27178213/r/il/fe706f/3067551261/il_fullxfull.3067551261_lqlb.jpg" alt="">

</div>

</div>
</div>

<!-- best selling -->
<div class="container text-center m-auto mt-5 ">
<h4>Explore Our New Arrival Furniture </h4>
</div>
<div class="container-fluid mt-4 ">
<div class="selling_main_box  " style="width: 100%;display: flex;gap: 10px;overflow-x:scroll">
<% for( let index = 0; index < product.length; index++ ) { %>

<div class="col-12 col-md-2 best_selling_box"> 
   <a  href="/detail/<%= locals.product[index]._id  %>">
<div class="blur_selling_box ">
<h3 ><%= locals.product[index].name  %></h3>

</div>
<img class="img-fluid" src="<%= locals.product[index].imageUrl[0]  %>" alt="">
</a>
</div>


<% } %>
</div>
</div>
</div>
<%- include('../htmlbody/bootsfooter') -%>
<%- include('../htmlbody/footer') -%> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>