<%- include('../htmlbody/header') -%> 
<%- include('../htmlbody/navbar') -%>
<style>
  .sortfiltermob{
    display: none;
  }
  @media only screen and (max-width : 895px) {
    .sortfiltermob{
    display: block;
  }
  .laptopsortfilter{
    display: none;
  }
}

</style>
<div class="container-fluid sortfiltermob mt-5 mb-3  "  >
  <div style="display: flex;justify-content: end;">
   
    <div class="mx-2" >
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        sort
      </button>

      <div class="dropdown-menu px-2" aria-labelledby="dropdownMenuButton">
        <p>By price</p>
        <div class="col-12 ">
          <input style="width: 20px;height: 20px;" type="radio" name="sort"  value="asc" >
      <label for="">low to high</label>
      </div>
    
      <div class="col-12">
        <input style="width: 20px;height: 20px;" type="radio" name="sort"  value="desc" >
       <label for="">high to low</label>
     </div>
     <hr style="border: 1px solid;">
     <p>By name</p>
     <div class="col-12">
      <input style="width: 20px;height: 20px;" type="radio" name="sort"  value="atoz" >
     <label for="">a to z</label>
   </div>
   <div class="col-12">
    <input style="width: 20px;height: 20px;" type="radio" name="sort"  value="ztoa" >
   <label for="">z to a</label>
 </div>
      </div>
    </div>
    </div>
    
    <div class="mx-3">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownfiltern" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      filter by category
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownfiltern">


        <% for( let index = 0; index < category.length; index++ ) { %>
         
          <div class="col-12">
            <input style="width: 20px;height: 20px;" type="radio" name="filter"  value="<%= locals.category[index]._id %>" >
          <label for="">
            <%= locals.category[index].category %>
          </label>
          </div>
        <% } %>
      </div>
    </div>
  </div>

  </div>
  
</div>
<div class="container-fluid ">
  <div class="row">
 
    <!-- lap view -->
 <div class="col-4  col-lg-3 laptopsortfilter mt-3">
      <h5>sorting & filter</h5>
      <div class="col-12 formbox" style="width: 90%">
        <p>sort by price</p>
        <div class="col-12">
            <input style="width: 20px;height: 20px;" type="radio" name="sort"  value="asc" >
        <label for="">low to high</label>
        </div>
      <div class="col-12">
         <input style="width: 20px;height: 20px;" type="radio" name="sort"  value="desc" >
        <label for="">high to low</label>
      </div>
      <hr style="border: 1px solid;">
      <p>sort by name</p>
      <div class="col-12">
        <input style="width: 20px;height: 20px;" type="radio" name="sort"  value="atoz" >
       <label for="">a to z</label>
     </div>
     <div class="col-12">
      <input style="width: 20px;height: 20px;" type="radio" name="sort"  value="ztoa" >
     <label for="">z to a</label>
   </div>

      </div>
      <div class="col-12 formbox mt-2" style="width: 90%">
        <p>filter by category</p>
        <% for( let index = 0; index < category.length; index++ ) { %>
         
          <div class="col-12">
            <input style="width: 20px;height: 20px;" type="radio" name="filter"  value="<%= locals.category[index]._id %>" >
          <label for="">
            <%= locals.category[index].category %>
          </label>
          </div>
        <% } %>

      </div>
    </div> 
    <div class="col-12 col-sm-10 col-md-8  mx-auto">
      <div class="row mt-5" >
        <% for( let index = 0; index <locals.productList.length; index++ ) { %>
        <div class="col-9 col-sm-5 col-md-5 col-lg-3 mt-3 Main_box m-auto m-md-0" style="margin-top: 1rem;">
          <a
            style="color: rgb(63, 60, 60)"
            href="/detail/<%= locals.productList[index]._id  %>">
            <div class="prod_img">
              <img
                src="<%= locals.productList[index].imageUrl[0]  %>"
                alt=""/>
            </div>
            <div class="product_card">
              <div class="detail_btm">
                <p id="name"><%= productList[index].name %></p>
                <% if (productList[index].outofstock==true) { %>
                  <p style="color: grey; font-size: 0.7rem">By <%= productList[index].brand %></p>
                  Rs <%= productList[index].price %>
                </p>
                  <p style="color: rgb(242, 57, 57)">Out of stock</p>
                 <% } else { %>
    
                  <% if ( productList[index].offer.offerpercent !==0) { %>
                    <p style="color: grey; font-size: 0.7rem">By <%= productList[index].brand %></p>
       
                    <i class="fa-solid fa-indian-rupee-sign"></i> <%= productList[index].price %>
                  <span class="offer_price">
                    <%= productList[index].offer.realprice%>
                  </span>
                </p>
             <p style="color: rgb(242, 57, 57)">Offer <%= productList[index].offer.offerpercent %>%</p>
                <% } else { %>
    
                  <p style="color: grey; font-size: 0.7rem">By <%= productList[index].brand %></p>
                  <i class="fa-solid fa-indian-rupee-sign"></i> <%= productList[index].price %>
                </p>
                <% } %>
                <% } %>
              </div>
            </div>
          </a>
        </div>

        <% } %>

        <!--  -->
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row " >
    <div class="col-12 m-auto text-center">
     
 <% if (locals.pageNumber!=1) { %>
  <button class=" btn" onclick="handlepage(-1)"><i class="fa-solid fa-arrow-left"></i></button>
<% } else { %>
  <button class=" btn" disabled  style="border: none;"><i class="fa-solid fa-arrow-left"></i></button>
<% } %>

    <%= locals.pageNumber  %>  
  
   <% if (locals.totalPages!=locals.pageNumber) { %>
    <button class=" btn" onclick="handlepage(1)"><i class="fa-solid fa-arrow-right"></i></button>
  <% } else { %>
    <button class="btn"  disabled  style="border: none;"> <i class="fa-solid fa-arrow-right"></i></button>
  <% } %>
    </div>
  </div>

</div>
<%- include('../htmlbody/footer') -%>

<script>
  // localStorage.setItem("sortType",JSON.stringify("asc"))
const radioButtons = document.querySelectorAll('input[name="sort"]');
const filterButtons = document.querySelectorAll('input[name="filter"]');

  var sortValue=JSON.parse(localStorage.getItem('sortValue'))||"name";
var sortedtype = JSON.parse(localStorage.getItem('sortType'))||"atoz";
var categoryId = JSON.parse(localStorage.getItem('categoryId'))||"";
var pagevalue = JSON.parse(localStorage.getItem('page'))||1;
var searchValue = JSON.parse(localStorage.getItem('search'))||"";

radioButtons.forEach(radioButton => {
  if (radioButton.value == sortedtype) {
    radioButton.checked = true;
  }
  radioButton.addEventListener('change', () => {
    sortedtype = document.querySelector('input[name="sort"]:checked').value;
if(sortedtype=="atoz"||sortedtype=="ztoa"){
  sortValue="name"
}else{
  sortValue="price"
}
    localStorage.setItem('sortValue', JSON.stringify(sortValue));
    localStorage.setItem('sortType', JSON.stringify(sortedtype));

    pagevalue= 1;
    localStorage.setItem('page', JSON.stringify(pagevalue));

const url = `/sorting?category=${categoryId ||''}&sortBy=${sortValue}&sortOrder=${sortedtype}&search=${searchValue}&page=${pagevalue}`;
          window.location.href = url;
  });
});

//filter
filterButtons.forEach(radioButton => {

  if (radioButton.value == categoryId) {
    radioButton.checked = true;
  }
  radioButton.addEventListener('change', () => {
    categoryId = document.querySelector('input[name="filter"]:checked').value;
    localStorage.setItem('categoryId', JSON.stringify(categoryId));
    pagevalue=1;
    localStorage.setItem('page', JSON.stringify(pagevalue));
     const url = `/sorting?category=${categoryId ||''}&sortBy=${sortValue}&sortOrder=${sortedtype}&search=${searchValue}&page=${pagevalue}`;
          window.location.href = url;
  });
});
// ====================
const handlepage=(pageer)=>{
   sortedtype = JSON.parse(localStorage.getItem('sortType'))||"asc";
let count=Number(pagevalue)+pageer
  localStorage.setItem('page', JSON.stringify(count));
  const url = `/sorting?category=${categoryId}&sortBy=${sortValue}&sortOrder=${sortedtype}&search=${searchValue}&page=${count}`;
          window.location.href = url;
}

</script>
