<%- include('../htmlbody/header') -%> 
<%- include('../htmlbody/navbar') -%>
<style>
    #img_container {
      border: 2px solid;
      overflow: hidden;
height: 60vh;

    }
    @media only screen and (max-width : 480px) {
        #img_container {
height: 35vh;

    }

    }
    #img_zoom {
      transform-origin: center;
      object-fit: cover;
      height: 100%;
      width: 100%;
      cursor: crosshair;
    }
    .popup {
      width: 100%;
      padding: 5px 15px;
      color: green;
      font-weight: 500;
    }
    .removepopup {
      width: 100%;
      padding: 5px 15px;
      color: rgb(229, 94, 49);
      font-weight: 500;
    }
    .warning {
      width: 40%;
      padding: 5px 15px;
      color: rgb(236, 143, 13);
      font-weight: 500;
    }
  </style>

<div class="container">
    <div class="row">
        <div class="col-10 col-md-10 col-lg-6  m-auto">
            <div
            class="border rounded-4 mb-3 d-flex justify-content-center"
            id="img_container" >
  
            <img
              style=" height: 100%; width: 100%;"
              id="img_zoom"
              class="rounded-4 fit"
              src="<%= details.imageUrl[0] %>"/>
        
          </div>

          <div class="row">
            <div class="d-flex justify-content-center mb-3" style="cursor: pointer">
                <% for( let index = 0; index < details.imageUrl.length; index++ ) { %>
                <div
                  class="mx-2"
                  onclick="handleChangeImage('<%= details.imageUrl[index] %>')">
                  <img
                    width="60"
                    height="60"
                    class="rounded-2"
                    src="<%= details.imageUrl[index] %>"
                  />
                </div>
                <% } %>
              </div>
        </div>
        </div>
       
        <div class="col-12 col-md-10 col-lg-6 ">
            <main class="col-12 ">
                <div class="ps-lg-3 ">
                  <h4 class="title text-dark"><%= details.name %></h4>
                  <!-- d-flex flex-row -->
                  <div class=" d-flex d-md-block my-3">
                
                    <span class="text-muted"
                      ><i class="fas fa-shopping-basket fa-sm mx-1"></i> <%=
                      details.stock %> orders</span>
<% if (details.outofstock==true) { %>
    <span class="text-success ms-1 text-danger">Out of stock</span>
<% }  else {%>
 <span class="text-success ms-1">In stock</span>
<% } %>
     

                  </div>
        
                  <div class="mb-3">
                    <span class="h5">Rs <%= details.price %></span>
                  </div>
                  <p><%= details.description %></p>
        
                  <div class="row">
                    <dt class="col-3">Type:</dt>
                    <dd class="col-9"><%= categoryData.category %></dd>
        
                    <dt class="col-3">Color</dt>
                    <dd class="col-9"><%= details.color %></dd>
        
                    <dt class="col-3">Material</dt>
                    <dd class="col-9"><%= details.material %></dd>
        
                    <dt class="col-3">Brand</dt>
                    <dd class="col-9"><%= details.brand %></dd>
                  </div>
        
                  <hr />
        
                  <div class="row mb-4 w-75">
                  <% if (details.outofstock==true) { %>
                    <div class="col-6">

                    
          <button disabled
                    class="btn btn-danger shadow-0">
                   Out of stock
                    <i class="me-1 fa fa-shopping-basket"></i>
                  </button>
                </div>
         <% }  else {%>
            <div class="col-6">

        
          <button
          class="btn btn-primary shadow-0"
          onclick="handleclcik('<%= locals.details._id %>')" >
          add to cart
          <i class="me-1 fa fa-shopping-basket"></i>
        </button>
            </div>
         <% } %>
                 
      
        <div class="col-sm-6 mt-3 mt-sm-0 col-xs-12 ">
                  <button
                    class="btn btn-success shadow-0"
                    onclick="handlewish('<%= locals.details._id %>')"
                  >
                    <i class="me-1 fa fa-heart fa-lg"></i>
                    wishlist
                  </button></div> </div>

                </div>
                 
                 
              </main> <div class="col-12"><p class="popup" id="popup"></p></div>
        </div>
    </div>
</div>

<section class="bg-light border-top py-4">
    <div class="container ">
      <div class="row gx-4">
        <div class="col-lg-8 mb-4">
          <div class="border rounded-2 px-3 py-2 bg-white">
            <ul class="nav nav-pills nav-justified mb-3"  >
              <li class="nav-item d-flex" >
                <a
                  class="nav-link active"
  
                  >Specification</a
                >
              </li>
            </ul>
  
            <div class="tab-content" >
              <div
                class="tab-pane fade show active"
               
              >
                <p style="font-size: 0.9rem;" ><%= details.overview %></p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  
  </section>

  <section>
      <div class="container-fluid ">
  <% if (locals.reviewlist.length>0) { %>
    <div class="container m-auto ">
      <h5>Reviews </h5>
        <div class="row mb-4 " >  
          <div class="col-11 col-sm-5 m-auto text-center">
             <input type="text" placeholder="add review" class="form-control" id="reviewInput">
              <button id="showaddbtn" class="btn btn-success mt-2" 
              onclick="handlereview('<%= locals.userdata._id %>','<%= locals.details._id %>','<%= locals.userdata.name %>')">Add Review</button>
              <button class="btn btn-success mt-2 text-center"  id="showupdatebtn"
              onclick="handleEditreview()">update</button>
            </div>  
    </div>
  <% } %>
  
     <div class="container-fluid">
  
    <% for( let index = 0; index < Listreview.length; index++ ) { %>
   <div class="row mx-auto">
        <div class="col-12 col-sm-8 ">
        
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong "
                src="https://th.bing.com/th/id/OIP.audMX4ZGbvT2_GJTx2c4GgHaHw?pid=ImgDet&rs=1" alt="avatar" width="40"
                height="40" />
              <div class="w-100 ">
                 <div class="row">
                    <div class="col-10 ">
                          <h6 class="text-primary fw-bold mb-0">
                    <%= Listreview[index].name %>
                  
                  </h6>
                    </div>
                    <div class="col-10">
                          <span class="text-dark ms-2">
                      <%= Listreview[index].message %>
                    </span>
                    </div>
                  
                 </div>
                  
  
  
                <div class=" d-flex justify-content-between align-items-center">
                  <p class="small mb-0" style="color: #aaa;">
                    <% if (locals.Listreview[index].userId==locals.userdata._id) { %>
                    
          <a href="#!" class="link-grey" onclick="handleDeletereview('<%= [index] %>','<%= locals.details._id %>' )">Remove</a> •
                    <a href="#!" class="link-grey" onclick="handleEditvalue('<%= [index] %>','<%= locals.details._id %>','<%= Listreview[index].message %>')">Update</a> •
                      <% } %>
            
                  </p>
               
                </div>
                <div class="col-12 ms-auto text-end">
                    <p class="mb-0 text-muted"><%= Listreview[index].date %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
        
    <% } %>
  </div>

</div>
  </section>
<%- include('../htmlbody/footer') -%>
<script>

    const showupdatebtn=document.getElementById("showupdatebtn")
    const showaddbtn = document.getElementById("showaddbtn");
    showupdatebtn.style.display="none"
    
    
    const handleEditvalue =(reviewIndex,prodId,message) => {
      const reviewInput=document.getElementById("reviewInput")
      showupdatebtn.style.display="block"
      showaddbtn.style.display="none"
      reviewInput.value=message
      localStorage.setItem("review",JSON.stringify({reviewIndex,prodId}))
      
    };
    
    // edit
    const handleEditreview=async()=>{
      const review=JSON.parse(localStorage.getItem("review"))
      const reviewInput=document.getElementById("reviewInput").value
    await fetch('/editReview', {
    method: 'POST',
    headers: {
     'Content-Type': 'application/json'
    },
    body: JSON.stringify(
     {
      reviewIndex:review.reviewIndex,
      prodId:review.prodId,
      reviewInput
     }
    )
    })
    
    .then((res)=>res.json())
    .then((data)=>{
    if(data==="success"){
      window.location.reload()
    }})
    }
    
    // delete review
    const handleDeletereview=async(reviewId,prodId)=>{
      await fetch('/deleteReview', {
     method: 'POST',
     headers: {
       'Content-Type': 'application/json'
     },
     body: JSON.stringify(
       {
        reviewId,prodId
       }
     )
    })
    
    .then((res)=>res.json())
    .then((data)=>{
      if(data==="success"){
        window.location.reload()
      }})
    }
    
    // addreview
    const handlereview=async(id,prodId,name)=>{
    
    const reviewInput=document.getElementById("reviewInput").value
    
    await fetch('/Addreview', {
     method: 'POST',
     headers: {
       'Content-Type': 'application/json'
     },
     body: JSON.stringify(
       {
        prodId:prodId,
        userId:id,
        message:reviewInput,
    name:name
       }
     )
    })
    
    .then((res)=>res.json())
    .then((data)=>{
      if(data==="success"){
        window.location.reload()
      }})
    
    }
    

    
      async function handlewish(id){
    
        await fetch("/addwishlist", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            data: id,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            const popups = document.getElementById("popup");
            if (data == "Added") {
              popups.innerHTML = "Added to wishlist";
            } else {
              popups.classList.add("removepopup");
              popups.innerHTML = "Removed from wishlist";
            }
            setTimeout(() => {
              popups.innerHTML = "";
              popups.classList.remove("removepopup");
            }, 2000);
          })
          .catch((error) => console.error(error));
      };
    
      async function handleclcik(id) {
      
        await fetch("/addtoCart", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            proId: id,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            const popups = document.getElementById("popup");
            if (data == "alreadyAdded") {
              popups.innerHTML = "item already added";
            } else {
              popups.innerHTML = "item added to cart";
            }
            setTimeout(() => {
              popups.innerHTML = "";
              popups.classList.remove("removepopup");
            }, 2000);
    
          })
          .catch((error) => console.error(error));
      }
    
      function handleChangeImage(filename){
       
        const image = document.querySelector("#img_zoom");
        image.setAttribute("src", filename);
      };
    
      const containers = document.querySelector("#img_container");
      
     
      containers.addEventListener("mousemove",(e) => {
    
        const images = document.querySelector("#img_zoom");
        const x = e.clientX - e.target.offsetLeft;
        const y = e.clientY - e.target.offsetTop;
      
        images.style.transformOrigin = `${x}px ${y}px`;
        images.style.transform = "scale(2)";
      });
    
      containers.addEventListener("mouseleave", (e) => {
        const images = document.querySelector("#img_zoom");
        images.style.transformOrigin = "center";
        images.style.transform = "scale(1)";
      });
    </script>